{% extends 'base.html.twig' %}

{% block title %}Your shortened URL{% endblock %}

{% block body %}
    <section id="link_details" class="content">
        <h1>Your shortened URL</h1>
        <div class="input-group flex-fill">
            <input id="shorten_url" class="form-control" type="text"
                   value="{{ url('handle_link', {hash: link_hash}) }}">
            <div>
                <input id="copy_button" class="btn-primary btn" type="button" class="copy" value="Copy URL">
            </div>
        </div>
        <div class="baloon-block">
            <div id="balloon" class="balloon">URL Copied</div>
        </div>
        <p>Long URL: <a href="{{ link_url }}" target="_blank">{{ link_url }}</a><br><br>
            Track <a href="{{ path('link_clicks') }}?link_stats[short_url]={{ url('handle_link', {hash: link_hash}) }}">the
                total of clicks</a> in real-time from your shortened URL.<br>
            Create other <a href="{{ path('home') }}"> short URL</a>.
        </p>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/copy_url.js') }}"></script>
{% endblock %}
